{% load static %}
{% load compress %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Anatoly Feteleu - {{request.path}}</title>

        <!-- menu font -->
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

        <!-- font in block font -->
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">

        <!-- font for table -->
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

        <!-- regular font -->
        <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">

        <!-- Font for numbers-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

        <!-- compress stylesheets -->
        {% compress css %}
        <link type="text/x-scss" rel="stylesheet" href="{% static 'scss/index.scss' %}">

        <!-- include stylesheet for make links looks more better -->
        <link rel="stylesheet" href="{% static 'css/css-effects.css' %}">

        <!-- Base css stylesheet -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">

        <!-- Latest compiled and minified bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap4/bootstrap.min.4.1.3.css' %}">
        {% endcompress %}

        <!-- Bootstrap library -->
        {% compress js %}
        <script type="text/javascript" src="{% static 'js/bootstrap4/bootstrap.min.4.1.3.js' %}"></script>
        {% endcompress %}

        <!-- Popper JS -->
        {% compress js %}
        <script type="text/javascript" src="{% static 'js/popper.min.1.14.3.js' %}"></script>
        {% endcompress %}

        <!-- Latest compiled JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <!-- Popover -->
        {% compress js %}
        <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
        </script>
        {% endcompress %}

        <style>
        /* Fixes dropdown menus placed on the right side */
        .ml-auto .dropdown-menu {
          left: auto !important;
          right: 0px;
        }
        </style>
    </head>
    <body style="background-image: url({% static 'img/landing-page-background-image.jpg' %}); background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;">
        <br>
        <div class="navigation">
            <nav class="navbar navbar-expand-sm bg-transparent navbar-light" style="padding-top: 20px">
                <button class="navbar-toggler ml-auto" style="background-color: #f0f0f0 !important" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
              <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ml-auto">
                        <!-- index -->
                        {% url 'index' as index %}
                        {% if request.path == index %}
                        <li class="nav-item menu__item"><a class="nav-link menu__link hover7-active" href="{% url 'index' %}"><span class="menu__label hover7-active__label">About</span></a></li>
                        {% else %}
                        <li class="nav-item menu__item"><a class="nav-link menu__link hover7" href="{% url 'index' %}"><span class="menu__label hover7__label">About</span></a></li>
                        {% endif %}

                        <!-- CV -->
                        {% url 'cv' as cv %}
                        {% if request.path == cv %}
                        <li class="nav-item menu__item"><a class="nav-link menu__link hover7-active" href="{% url 'cv' %}"><span class="menu__label hover7-active__label">Resume</span></a></li>
                        {% else %}
                        <li class="nav-item menu__item"><a class="nav-link menu__link hover7" href="{% url 'cv' %}"><span class="menu__label hover7__label">Resume</span></a></li>
                        {% endif %}

                        <li class="nav-item menu__item"><a class="nav-link menu__link hover7" href="#"><span class="menu__label hover7__label">Portfolio</span></a></li>
                        <!--<li class="nav-item menu__item"><a class="nav-link menu__link hover7" href="#"><span class="menu__label hover7__label">Blog</span></a></li>-->
                        <li class="nav-item menu__item"><a class="nav-link menu__link hover7" href="#"><span class="menu__label hover7__label">Contact</span></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <br><br>
        <div class="container">
            {% block content %}
            {% endblock %}
            <div class="col-dm-12">
                <p></p>
            </div>
        </div>
    </body>
</html>