@media screen and (max-width: 300px){

  p, li, span, a, td {
    font-size: 10px;
    }

  #welcome {
    font-size: 10px;
  }

  #index-table {
    padding: 0;
    }

  .socials-svg svg {
    width: 20px;
    height: 20px;
  }
  .portfolio-body .row .col-md-6 {
    padding: 25px;
  }
  .portfolio-body {
    padding: 0;
  }
  #portfolio-hr {
    padding-top: 0px;
  }
  .portfolio-block {
    padding: 25px;
  }
}

@media screen and (min-width: 300px){

  p, li, span, a, td {
    font-size: 10px;
    }

  #welcome {
    font-size: 10px;
  }

  #index-table {
    padding: 0;
    }

  .socials-svg {
    width: 20px;
    height: 20px;
  }
  .portfolio-body .row .col-md-6 {
    padding: 25px;
  }
  .portfolio-body {
    padding: 0;
  }

  .portfolio-body .row {
    padding: 0px;
  }

  #portfolio-hr {
    padding-top: 0px;
  }

  .portfolio-block {
    padding: 25px;
  }
}

@media screen and (min-width: 380px){

  p, li, span, a, td {
    font-size: 12px;
    }

  #welcome {
    font-size: 12px;
  }

  #index-table {
    padding: 0;
    }

  .footer p {
    font-size: 12px;
  }

  .footer p span {
    font-size: 12px;
  }

  .portfolio-body .row {
    padding: 0px;
  }
  .portfolio-body {
    padding: 0;
  }
  #portfolio-hr {
    padding-top: 0px;
  }
  .portfolio-block {
    padding: 25px;
  }
}

@media screen and (min-width: 450px){

  p, li, span, a, td {
    font-size: 16px;
    }

  #welcome {
    font-size: 16px;
  }

  #index-table {
    padding: 0;
    }

  .footer p {
    font-size: 16px;
  }

  .footer p span {
    font-size: 16px;
  }

  .portfolio-body .row .col-md-6 {
    padding: 25px;
  }

  .portfolio-body {
    padding: 0;
  }
  #portfolio-hr {
    padding-top: 0px;
  }

  .portfolio-block {
    padding: 25px;
  }
}


@media screen and (min-width: 1000px){

  p, li, span, a, td {
    font-size: 21px;
    }

  #welcome {
    font-size: 21px;
  }

  #index-table {
    padding: 50;
    }

  .footer p {
    font-size: 26px;
  }

  .footer p span {
    font-size: 26px;
  }

  .portfolio-body .row .col-md-6 {
    padding: 0;
  }

  .portfolio-body {
    padding: 25px;
  }

  #portfolio-hr {
    padding-top: 25px;
  }

  .portfolio-block {
    padding: 50px;
  }
}