@media screen and (max-width: 300px){

  p, li, span, a, td {
    font-size: 16px;
    }

  #welcome {
    font-size: 12px;
  }

  #index-table {
    padding: 0;
    }

  .socials-svg svg {
    width: 20px;
    height: 20px;
  }
  .portfolio-body .row .col-md-6 {
    padding: 25px;
  }
  .portfolio-body {
    padding: 0;
  }
  #portfolio-hr {
    padding-top: 0px;
  }
  .portfolio-block {
    padding: 25px;
  }

  #contact-block-col {
    padding: 25px 100px 0 25px;
  }

  .contact_email_field{width: 50%;}
  .contact_text_field{width: 50%;}
  .contact-block-col{
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0 !important;
  }
  .portfolio-body{padding: 25px;}
  .directory-list li, .directory-list li a {font-size: 14px;}
}

@media screen and (min-width: 300px){

  p, li, span, a, td {
    font-size: 16px;
    }

  #welcome {
    font-size: 12px;
  }

  #index-table {
    padding: 0;
    }

  .socials-svg {
    width: 20px;
    height: 20px;
  }
  .portfolio-body .row .col-md-6 {
    padding: 25px;
  }
  .portfolio-body {
    padding: 0;
  }

  .portfolio-body .row {
    padding: 0px;
  }

  #portfolio-hr {
    padding-top: 0px;
  }

  .portfolio-block {
    padding: 25px;
  }

  #contact-block-col {
    padding: 25px 100px 0 25px;
  }

  .contact_email_field{width: 50%;}
  .contact_text_field{width: 50%;}
  .contact-block-col{
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 15px !important;
  }

  #contact-button button{width: 120px; height: 60px;}

  .portfolio-body{padding: 25px;}
  .directory-list li, .directory-list li a {font-size: 14px;}
}

@media screen and (min-width: 380px){

  p, li, span, a, td {
    font-size: 16px;
    }

  #welcome {
    font-size: 16px;
  }

  #index-table {
    padding: 0;
    }

  .footer p {
    font-size: 12px;
  }

  .footer p span {
    font-size: 14px;
  }

  .portfolio-body .row {
    padding: 0px;
  }
  .portfolio-body {
    padding: 0;
  }
  #portfolio-hr {
    padding-top: 0px;
  }
  .portfolio-block {
    padding: 25px;
  }

  #contact-block-col {
    padding: 25px 100px 0 25px;
  }

  .contact_email_field{width: 80%;}
  .contact_text_field{width: 80%;}
  .contact-block-col{
    padding-top: 25px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 15px !important;
  }

  #contact-button button{width: 120px; height: 60px;}

  .portfolio-body{padding: 25px;}
  .directory-list li, .directory-list li a {font-size: 14px;}
}

@media screen and (min-width: 450px){

  p, li, span, a, td {
    font-size: 16px;
    }

  #welcome {
    font-size: 16px;
  }

  #index-table {
    padding: 0;
    }

  .footer p {
    font-size: 16px;
  }

  .footer p span {
    font-size: 16px;
  }

  .portfolio-body .row .col-md-6 {
    padding: 25px;
  }

  .portfolio-body {
    padding: 0;
  }
  #portfolio-hr {
    padding-top: 0px;
  }

  .portfolio-block {
    padding: 25px;
  }

  #contact-block-col {
    padding: 25px 100px 0 50px;
  }

  .contact_email_field{width: 80%;}
  .contact_text_field{width: 80%;}
  .contact-block-col{
    padding-top: 25px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 15px !important;
  }

  #contact-button {margin: 0 15px 0 0}

  .portfolio-body{padding: 25px;}
  .directory-list li, .directory-list li a {font-size: 16px;}
}


@media screen and (min-width: 1000px){

  p, li, span, a, td {
    font-size: 21px;
    }

  #welcome {
    font-size: 21px;
  }

  #index-table {
    padding: 50;
    }

  .footer p {
    font-size: 26px;
  }

  .footer p span {
    font-size: 26px;
  }

  .portfolio-body .row .col-md-6 {
    padding: 0;
  }

  .portfolio-body {
    padding: 25px;
  }

  #portfolio-hr {
    padding-top: 25px;
  }

  .portfolio-block {
    padding: 50px;
  }

  .contact-body input{width: 90%;}
  .contact-body textarea{width: 90%;}
  .contact-block-col{
    padding-top: 25px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 100px !important;
  }
  .contact-block-col .btn{margin:0;}

  #contact-button {margin: 0 50px 0 0}

  #contact-button button{width: 240px; height: 80px;}

  .alert{width: 90%}

  .portfolio-body{padding: 25px 75px 75px 75px;}
  .directory-list li, .directory-list li a {font-size: 19px;}
}