{% extends 'landing_page/base.html'  %}
{% load static %}

{% block content %}
    <div class="container login-f">
      <div class="row">
        <form class="col s12 m6 offset-m3" action="{% url 'index'  %}" id="form" method="POST">
        {% csrf_token %} 
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Signup for Newsletter</span>
              <div class="input-field col s12">
                <input id="email" type="email" name="email" class="validate">
                <label for="email">Email</label>
              </div>
              <div class="col s12">
                <input type="checkbox" class="filled-in" name="checkbox" id="test5" />
                <label for="test5">Welcome Email</label>
              </div>
            </div>
            <div class="card-action">
              <a href="#" onclick="isEmail(document.getElementById('email').value)">SignUp</a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript">
      function isEmail(email) {
        var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if (re.test(email)) {
          document.getElementById('form').submit();
        } else{
          alert("Your email is incorrect!");
        }
      }
    </script>
{% endblock %}
