.idea/
__pycache__/
/landing_page/static/CACHE/
db.sqlite3
/landing_venv/
polygon.py
landing_page/static/profiles/
landing_page/static/CACHE/
polygon.py
cv_app/settings_debug.py
cv_app/settings.py_debug
