.idea/
__pycache__/
/landing_page/static/CACHE/
db.sqlite3
/landing_venv/
polygon.py
landing_page/static/profiles/
landing_page/static/CACHE/
cv_app/settings_debug.py
cv_app/settings.py_debug
cv_app/env.txt
cv_app/settings.py_backup
landing_page/fixtures/initial_data.json
chromedriver.exe
landing_page/media/