/* line 8, landing_page/static/scss/index.scss */

a {
    text-decoration: none;
    color: black;
}


/* line 13, landing_page/static/scss/index.scss */

ul {
    padding: 0;
    list-style-type: none;
}


/* line 18, landing_page/static/scss/index.scss */

.nav-link {
    color: #f0f0f0 !important;
    font-weight: 900;
}


/* line 23, landing_page/static/scss/index.scss */

.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 4.5rem !important;
}


/* line 25, landing_page/static/scss/index.scss */

.navbar-nav {
    text-align: center;
}


/* line 30, landing_page/static/scss/index.scss */

.socials-svg svg {
    display: block;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 30px;
    height: 30px;
    fill: #f0f0f0;
    vertical-align: middle;
}


/* line 43, landing_page/static/scss/index.scss */

#hello-svg svg {
    display: block;
    fill: #ff4444;
    width: 80px !important;
    height: 80px !important;
}


/* line 51, landing_page/static/scss/index.scss */

.col-one {
    font-size: 21px;
    font-family: 'Raleway', 'Sans Serif';
}


/* line 56, landing_page/static/scss/index.scss */

.col-two {
    /*padding-top: $hello-svg !important;*/
}


/* line 60, landing_page/static/scss/index.scss */

.hello {
    font-size: 21px;
    font-family: 'Raleway', sans-serif !important;
}


/* line 65, landing_page/static/scss/index.scss */

#welcome {
    font-size: 28px;
    letter-spacing: 0.1em;
}


/* line 72, landing_page/static/scss/index.scss */

.navbar ul li {
    font-size: 21px;
}


/* line 82, landing_page/static/scss/index.scss */

.cv-head {
    font-family: 'Comfortaa', 'sans-serif';
}


/* line 86, landing_page/static/scss/index.scss */

.cv-headings {
    font-size: 21px;
}


/* line 91, landing_page/static/scss/index.scss */

.cv-info p {
    font-size: 21px;
}


/* line 96, landing_page/static/scss/index.scss */

.table table td:first-child {
    text-transform: uppercase;
}


/* line 100, landing_page/static/scss/index.scss */

.table table td {
    height: 100%;
    width: 100%;
}


/* without compression */

.footer p {
    font-family: 'Caveat', cursive;
    font-size: 26px;
    color: grey;
    font-weight: 100;
    text-align: justify;
}

.footer p span {
    font-size: 26px;
}

#index-table table td:nth-child(1) {
    font-weight: 500;
}

#index-table table td:nth-child(2) {
    color: grey !important;
}

#index-table table td:nth-child(2) a {
    color: grey !important;
}

#index-table table td {
    padding: 5px;
}

.portfolio-head {
    font-family: 'Comfortaa', 'sans-serif';
}

.portfolio-body .row h4 {
    text-align: center;
    padding-bottom: 10px;
}

.portfolio-body {
    padding-top: 25px;
}

.portfolio-card {
    align-items: center;
    height: auto;
    width: auto;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0px;
}

#portfolio-hr {
    padding-top: 25px;
}

.portfolio-block {
    display: inline-block;
    background-color: white;
    width: 100%;
    height: 100%;
    max-width: 100% !important;
    padding: 50px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#portfolio-image img {
    -webkit-filter: blur(1px) opacity(50%);
    /* Safari 6.0 - 9.0 */
}

#portfolio-image img:hover {
    -webkit-filter: blur(0px) opacity(100%);
    /* Safari 6.0 - 9.0 */
    filter: opacity(100%);
}

.portfolio-box {
    margin: 0;
    padding: 25px;
    border-style: dotted;
}

.contact-block {
    display: inline-block;
    background-color: white;
    width: 100%;
    height: 100%;
    max-width: 100% !important;
    padding: 50px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.contact-head {
    font-family: 'Comfortaa', 'sans-serif';
}

.cv-block {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.contact-block-col {
    padding-top: 25px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 100px !important;
}

.email svg {
    display: block;
    width: 50%;
    height: 50%;
    margin: auto;
}

.email {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 100%;
    overflow: auto;
    padding: 100px;
    resize:both;
}


/* The portfolio list style
-------------------------------------------------------------- */

.directory-list ul {
  margin-left: 10px;
  padding-left: 20px;
  border-left: 1px dashed #ddd;
}

.directory-list li {
  list-style: none;
  color: #888;
  font-size: 19px;
  font-family: 'Ubuntu';
  font-weight: normal;
}

.directory-list a {
  border-bottom: 1px solid transparent;
  color: #888;
  text-decoration: none;
  transition: all 0.2s ease;
  font-size: 19px;
}

.directory-list a:hover {
  border-color: #eee;
  color: #000;
}

.directory-list .folder,
.directory-list .folder > a {
  color: #777;
  font-weight: lighter;
}

/* The icons
-------------------------------------------------------------- */

.directory-list li:before {
  margin-right: 10px;
  content: "";
  height: 20px;
  vertical-align: middle;
  width: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  /* file icon by default */
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='lightgrey' d='M85.714,42.857V87.5c0,1.487-0.521,2.752-1.562,3.794c-1.042,1.041-2.308,1.562-3.795,1.562H19.643 c-1.488,0-2.753-0.521-3.794-1.562c-1.042-1.042-1.562-2.307-1.562-3.794v-75c0-1.487,0.521-2.752,1.562-3.794 c1.041-1.041,2.306-1.562,3.794-1.562H50V37.5c0,1.488,0.521,2.753,1.562,3.795s2.307,1.562,3.795,1.562H85.714z M85.546,35.714 H57.143V7.311c3.05,0.558,5.505,1.767,7.366,3.627l17.41,17.411C83.78,30.209,84.989,32.665,85.546,35.714z' /></svg>");
  background-position: center 2px;
  background-size: 80% auto;
}

.directory-list li.folder:before {
  /* folder icon if folder class is specified */
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='lightblue' d='M96.429,37.5v39.286c0,3.423-1.228,6.361-3.684,8.817c-2.455,2.455-5.395,3.683-8.816,3.683H16.071 c-3.423,0-6.362-1.228-8.817-3.683c-2.456-2.456-3.683-5.395-3.683-8.817V23.214c0-3.422,1.228-6.362,3.683-8.817 c2.455-2.456,5.394-3.683,8.817-3.683h17.857c3.422,0,6.362,1.228,8.817,3.683c2.455,2.455,3.683,5.395,3.683,8.817V25h37.5 c3.422,0,6.361,1.228,8.816,3.683C95.201,31.138,96.429,34.078,96.429,37.5z' /></svg>");
  background-position: center top;
  background-size: 75% auto;
}

/* The Modal */
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}