{% extends 'landing_page/base.html'  %}
{% load static %}

{% block content %}
    <div class="col-md-12" style="display: inline-block; background-color: white; width: 100%; height: 100%; max-width: 100% !important;">
        {% include 'landing_page/index/profile.html' %}
    </div>

    {% include 'landing_page/socials/socials.html' %}
    <br><br>

    <div class="footer">
        {% if resume %}
            <div class="col-md-12">
                <div style="text-align: center"><button class="btn draw-border" onclick="location.href='{% static resume %}'">Download resume</button></div>
            </div>
        <br>
        {% endif %}
        <div class="col-md-12">
            <p style="padding: 0 50px 0 50px">Hello! I'm <span style="color: #ff4444">{{ firstname }} {{ lastname }}</span>, I received a master's degree in 2018 in the direction of "Management in technical systems", while studying at the university I began to study the Python language for process automation, then I started to study the django web framework, at the moment, I continue to develop my skills in development in Python, in particular in web development.</p>
        </div>
    </div>

{% endblock %}
