{% load static %}
{% load svg %}

<div class="container" style="{% if on_vacation == 'Yes' %}margin-bottom: 85px;{% else %}margin-bottom: 125px;{% endif %}">
    <div class="col-md-6" style="display: inline-block; width: 100%; height: 100%; float: left; padding-top: 50px;">
        {% if pp_exists %}
        <img class="img-fluid" src="media/{{ profile_picture }}" alt="Profile photo">
        {% else %}
        <img class="img-fluid" src="{% static 'img\profile_icon.png' %}" alt="Picture not found">
        {% endif %}
    </div>
    <div class="col-md-6 hello" style="display: inline-block; width: 100%; height: 100%;">
        <div class="col-md-12" style="padding-top: 50px">
            <h1 id="hello-svg">{% svg 'hello' %}</h1>
            <p id="welcome">I'm <span style="font-weight: 900">{{ firstname }} {{lastname}}</span></p>
            <p>Python Developer</p>
            <hr>
        </div>
        <div id="index-table" class="table table-borderless">
            <table>
                <tbody>
                    <tr>
                        <td>age: </td>
                        <td class="text-justify">{{ age }} y.o.</td>
                    </tr>
                    <tr>
                        <td>town: </td>
                        <td class="text-justify">{{ address }}</td>
                    </tr>
                    <tr>
                        <td>phone: </td>
                        <td class="text-justify" style="font-family: 'Montserrat'"><a href="tel:{{ legit_phone }}">{{ phone }}</a></td>
                    </tr>
                    <tr>
                        <td>email: </td>
                        <td class="text-justify"><a href="mailto:{{ email }}">{{ email }}</a></td>
                    </tr>
                    <tr>
                        <td>freelance: </td>
                        <td class="text-justify">{{ freelance }}</td>
                    </tr>
                    {% if on_vacation == 'Yes' %}
                    <tr>
                        <td><span class="badge badge-danger" style="font-size: 85%;">On vacation</span></td>
                        <td class="text-justify">
                            <span style="display: inline-block; height: 16px; width: 16px; font-size: 16px !important">
                                {% svg 'si-glyph-calendar-1' %}
                            </span> till {{ vacation_till|date:"m/d/Y" }}
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>