{% load static %}
{% load svg %}

<div class="container">
    <div class="col-md-6" style="display: inline-block; width: 100%; height: 100%; float: left; padding-top: 50px;">
        <img class="img-fluid" src="{% static profile_picture %}" alt="Photo">
    </div>
    <div class="col-md-6 hello" style="display: inline-block; width: 100%; height: 100%; float: right;">
        <div class="col-md-12" style="padding-top: 50px">
            <h1 id="hello-svg">{% svg 'hello' %}</h1>
            <p id="welcome">I'm <span style="font-weight: 900">{{ firstname }} {{lastname}}</span></p>
            <p>Python Developer</p>
            <hr>
        </div>
        <div class="table table-borderless">
            <table>
                <tbody>
                    <tr>
                        <td>age: </td>
                        <td class="text-justify">{{ age }}</td>
                    </tr>
                    <tr>
                        <td>address: </td>
                        <td class="text-justify">{{ address }}</td>
                    </tr>
                    <tr>
                        <td>phone: </td>
                        <td class="text-justify" style="font-family: 'Montserrat'"><a href="tel:{{ legit_phone }}">{{ phone }}</a></td>
                    </tr>
                    <tr>
                        <td>email: </td>
                        <td class="text-justify"><a href="mailto:{{ email }}">{{ email }}</a></td>
                    </tr>
                    <tr>
                        <td>freelance: </td>
                        <td class="text-justify">{{ freelance }}</td>
                    </tr>
                    {% if on_vacation == 'Yes' %}
                    <tr>
                        <td>On vacation: </td>
                        <td class="text-justify">till {{ vacation_till }}</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>