{% load static %}
{% load svg %}

{% block content %}
<div class="row">
    <div class="col-md-12 cv-head" style="display: inline-block; width: 100%; height: 100%; padding-top: 50px; margin: auto; text-align: center;">
        <h3 class="font-weight-light">Curriculum Vitae</h3>
        <br>
        <hr>
    </div>
    <div class="col-md-12 cv-headings">
        <div id="cv-table" class="table-responsible-sm">
            <table class="table table-borderless" style="display: block; padding: 50px;">
                <tbody>
                    <tr>
                        <td class="font-weight-light"><p>Work experience:</p></td>
                        <td class="text-justify">
                            <ul>
                                {% for i in experience %}
                                <li><a href="{{ i.3 }}" data-toggle="tooltip" data-placement="right" title="{{ i.4 }}!">{{ i.0 }}</a>
                                    <ul>
                                        <li>{{i.1}} years {{i.2}} months</li>
                                    </ul>
                                </li>
                                <br>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-light"><p>Key skills:</p></td>
                        <td class="text-justify">{{ key_skills|linebreaksbr }}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-light"><p>About me:</p></td>
                        <td class="text-justify">{{ about_me|linebreaksbr }}</td>
                    </tr>
                    <tr>
                        <td class="font-weight-light"><p>Higher education:</p></td>
                        <td class="text-justify">
                            <ul>
                                {% for i in edu_list %}
                                <li>{{ i.0 }}
                                    <ul>
                                        <li>{{ i.2 }}</li>
                                    </ul>
                                </li>
                                <br>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-light"><p>Languages:</p></td>
                        <td class="text-justify">
                            <ul>
                                {% for i in lang_list %}
                                <li>{{ i.0 }}
                                    <ul>
                                        <li>{{ i.1}}</li>
                                    </ul>
                                </li>
                                <br>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-light"><p>Citizenship, travel time to work:</p></td>
                        <td class="text-justify">
                            <ul>
                                {% for i in other %}
                                <li><span class="font-italic">Citizenship:</span> {{ i.0 }}
                                </li>
                                <li><span class="font-italic">Permission to work:</span> {{ i.1 }}
                                </li>
                                <li><span class="font-italic">Desired travel time to work:</span> {{ i.2 }}
                                </li>
                                <hr>
                                {% endfor %}

                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}