{% extends 'landing_page/base.html'  %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-12 contact-block cv-block">
        <div class="contact-head" style="display: inline-block; width: 100%; height: 100%; margin: auto; text-align: center;">
            <h3 id="font-weight-light" style="text-align: center">Contact information</h3>
            <div id="portfolio-hr">
                <hr class="style12">
            </div>
        </div>
    </div>
{% include 'landing_page/socials/socials.html' %}
</div>
{% endblock %}